# 1
# 1/Activities
# 1/Activities/01-Stu_FinTech_Group_Discussions
1/Activities/01-Stu_FinTech_Group_Discussions/.ipynb_checkpoints
# 1/Activities/01-Stu_FinTech_Group_Discussions/Solved
# 1/Activities/02-Stu_FinTech_Thought_Experiment
1/Activities/02-Stu_FinTech_Thought_Experiment/.ipynb_checkpoints
1/Images
1/.ipynb_checkpoints
# 2
# 2/Activities
# 2/Activities/01-Ins_Terminal
# 2/Activities/01-Ins_Terminal/Solved
# 2/Activities/02-Stu_Terminal
# 2/Activities/02-Stu_Terminal/Solved
# 2/Activities/03-Stu_FinTech_Domains_Part_I
# 2/Activities/03-Stu_FinTech_Domains_Part_I/Solved
# 2/Activities/04-Stu_FinTech_Domains_Part_II
# 2/Activities/04-Stu_FinTech_Domains_Part_II/Solved
2/Images
# 3
# 3/Activities
# 3/Activities/01-Stu_Refresher
# 3/Activities/01-Stu_Refresher/Solved
# 3/Activities/02-Stu_Git_CLI
# 3/Activities/02-Stu_Git_CLI/Solved
# 3/Activities/03-Stu_Markdown
# 3/Activities/03-Stu_Markdown/Solved
# 3/Activities/04-Stu_Group_Case_Study
# 3/Activities/04-Stu_Group_Case_Study/Solved
3/Images
