# 1
# 1/Activities
# 1/Activities/01-Ins_JupyterLab
1/Activities/02-Ins_Jupyter_Project
1/Activities/03-Stu_Jupyter_Project
1/Activities/03-Stu_Jupyter_Project/Solved
1/Activities/04-Ins_Variables
1/Activities/04-Ins_Variables/Solved
1/Activities/05-Stu_Variables
1/Activities/05-Stu_Variables/Solved
1/Activities/05-Stu_Variables/Solved/Challenge
1/Activities/05-Stu_Variables/Solved/Core
1/Activities/06-Ins_Conditionals
1/Activities/06-Ins_Conditionals/Solved
1/Activities/07-Stu_Conditionals
1/Activities/07-Stu_Conditionals/Solved
1/Activities/08-Ins_Loops
1/Activities/08-Ins_Loops/Solved
1/Activities/09-Stu_Loops
1/Activities/09-Stu_Loops/Images
1/Activities/09-Stu_Loops/Solved
1/Activities/10-Ins_Pseudocoding
1/Activities/10-Ins_Pseudocoding/Solved
1/Activities/11-Stu_Pseudocoding
1/Activities/11-Stu_Pseudocoding/Solved
1/Activities/12-Stu_Challenge_Activity
1/Activities/12-Stu_Challenge_Activity/Solved
1/Activities/12-Stu_Challenge_Activity/Solved/Challenge
1/Activities/12-Stu_Challenge_Activity/Solved/Core
1/Images
2
2/Activities
2/Activities/01-Ins_Lists
2/Activities/01-Ins_Lists/Solved
2/Activities/02-Stu_Lists
2/Activities/02-Stu_Lists/Images
2/Activities/02-Stu_Lists/Solved
2/Activities/02-Stu_Lists/Solved/Challenge
2/Activities/02-Stu_Lists/Solved/Core
2/Activities/03-Ins_Iterate_Lists
2/Activities/03-Ins_Iterate_Lists/Images
2/Activities/03-Ins_Iterate_Lists/Solved
2/Activities/04-Stu_Iterate_Lists
2/Activities/04-Stu_Iterate_Lists/Images
2/Activities/04-Stu_Iterate_Lists/Solved
2/Activities/05-Ins_Dictionaries
2/Activities/05-Ins_Dictionaries/Images
2/Activities/05-Ins_Dictionaries/Solved
2/Activities/06-Stu_Dictionaries
2/Activities/06-Stu_Dictionaries/Images
2/Activities/06-Stu_Dictionaries/Solved
2/Activities/06-Stu_Dictionaries/Solved/Challenge
2/Activities/06-Stu_Dictionaries/Solved/Core
2/Activities/07-Ins_Nesting
2/Activities/07-Ins_Nesting/Images
2/Activities/07-Ins_Nesting/Solved
2/Activities/08-Stu_Nesting
2/Activities/08-Stu_Nesting/Images
2/Activities/08-Stu_Nesting/Solved
2/Activities/08-Stu_Nesting/Solved/Challenge
2/Activities/08-Stu_Nesting/Solved/Challenge/.ipynb_checkpoints
2/Activities/08-Stu_Nesting/Solved/Core
2/Activities/08-Stu_Nesting/Solved/Core/.ipynb_checkpoints
2/Activities/09-Ins_Functions
2/Activities/09-Ins_Functions/Images
2/Activities/09-Ins_Functions/Solved
2/Activities/10-Stu_Functions
2/Activities/10-Stu_Functions/Images
2/Activities/10-Stu_Functions/Solved
2/Activities/Ins_GitHub
2/Activities/Ins_GitHub/Solved
2/Images
3
3/Activities
3/Activities/01-Ins_Refresher
3/Activities/01-Ins_Refresher/Solved
3/Activities/02-Stu_Refresher
3/Activities/02-Stu_Refresher/Solved
3/Activities/03-Ins_Time_Value_of_Money
3/Activities/03-Ins_Time_Value_of_Money/Solved
3/Activities/04-Stu_Time_Value_of_Money
3/Activities/04-Stu_Time_Value_of_Money/Solved
3/Activities/05-Ins_Imports
3/Activities/05-Ins_Imports/Solved
3/Activities/06-Stu_Imports
3/Activities/06-Stu_Imports/Solved
3/Activities/06-Stu_Imports/Solved/Challenge
3/Activities/06-Stu_Imports/Solved/Core
3/Activities/07-Ins_File_IO
3/Activities/07-Ins_File_IO/Solved
3/Activities/08-Stu_File_IO
3/Activities/08-Stu_File_IO/Solved
3/Activities/09-Ins_CSV_Reader
3/Activities/09-Ins_CSV_Reader/Solved
3/Activities/10-Stu_CSV_Reader
3/Activities/10-Stu_CSV_Reader/Solved
3/Activities/10-Stu_CSV_Reader/Solved/Challenge
3/Activities/10-Stu_CSV_Reader/Solved/Core
3/Images
