# 1
# 1/Activities
# 1/Activities/01-Stu_Eavesdropping_On_Server
# 1/Activities/01-Stu_Eavesdropping_On_Server/Solved
1/Activities/02-Stu_I_Spy_An_Api
1/Activities/02-Stu_I_Spy_An_Api/Solved
1/Activities/03-Stu_Parlez_Vous_Le_Json
1/Activities/03-Stu_Parlez_Vous_Le_Json/Solved
1/Activities/04-Ins_Python_Requests
1/Activities/04-Ins_Python_Requests/Solved
1/Activities/05-Stu_Ice_Breakers_on_Request
1/Activities/05-Stu_Ice_Breakers_on_Request/Solved
1/Activities/06-Ins_URL_Parameters
1/Activities/06-Ins_URL_Parameters/Solved
1/Activities/07-Stu_House_of_Requests
1/Activities/07-Stu_House_of_Requests/Solved
2
2/Activities
2/Activities/01-Ins_Create_Env_Variables
2/Activities/01-Ins_Create_Env_Variables/Solved
2/Activities/02-Ins_Call_Env_Variables
2/Activities/02-Ins_Call_Env_Variables/Solved
2/Activities/02-Ins_Call_Env_Variables/Solved/.ipynb_checkpoints
2/Activities/04-Ins_Alpaca_Demo
2/Activities/04-Ins_Alpaca_Demo/Solved
2/Activities/05-Stu_Investment_Value
2/Activities/05-Stu_Investment_Value/Solved
3
3/Activities
3/Activities/01-Ins_Getting_into_Probability_Distributions
3/Activities/01-Ins_Getting_into_Probability_Distributions/Solved
3/Activities/02-Stu_Decisive_Distributions
3/Activities/02-Stu_Decisive_Distributions/Solved
3/Activities/03-Ins_Portfolio_Forecasting_Monte_Carlo
3/Activities/03-Ins_Portfolio_Forecasting_Monte_Carlo/Solved
3/Activities/04-Stu_Three_Stock_Monte
3/Activities/04-Stu_Three_Stock_Monte/Solved
3/Activities/05-Ins_Simulation_of_Stock_Price_Trajectory
3/Activities/05-Ins_Simulation_of_Stock_Price_Trajectory/Solved
3/Activities/06-Stu_Financial_Forecasting
3/Activities/06-Stu_Financial_Forecasting/Solved
