#1
#1/Activities
#1/Activities/01-terminal-01
#1/Activities/01-terminal-01/Solved
#1/Activities/01-terminal-01/Solved/Images
# 1/Activities/02-variables-01
# 1/Activities/02-variables-01/Solved
# 1/Activities/03-condition-control-flow-01
# 1/Activities/03-condition-control-flow-01/Solved
# 1/Activities/04-condition-control-flow-02
# 1/Activities/04-condition-control-flow-02/Solved
# 1/Activities/05-inputs-01
# 1/Activities/05-inputs-01/Solved
# 1/Activities/06-inputs-02
# 1/Activities/06-inputs-02/Solved
# 1/Activities/07-lists-01
# 1/Activities/07-lists-01/Solved
# 1/Activities/08-dicts-01
# 1/Activities/08-dicts-01/Solved
# 1/Activities/09-dicts-02
# 1/Activities/09-dicts-02/Solved
# 1/Activities/10-loops-01
# 1/Activities/10-loops-01/Solved
# 1/Activities/11-functions-01
# 1/Activities/11-functions-01/Solved
# 1/Activities/12-functions-02
# 1/Activities/12-functions-02/Solved
# 1/Activities/13-csv-01
# 1/Activities/13-csv-01/Solved
# 1/Activities/14-python-calculator-01
# 1/Activities/14-python-calculator-01/Solved
# 1/Activities/15-algo-challenge-01
# 1/Activities/15-algo-challenge-01/Solved
# 1/Activities/16-algo-challenge-02
# 1/Activities/16-algo-challenge-02/Solved
# 1/Activities/17-github-practice-01
# 1/Activities/17-github-practice-01/images
# 1/Activities/18-Stu_RockPaperScissors
# 1/Activities/18-Stu_RockPaperScissors/Solved
# 1/Activities/19-Stu_NumberChain
# 1/Activities/19-Stu_NumberChain/Solved
# 1/Activities/20-Stu_KidInCandyStore
# 1/Activities/20-Stu_KidInCandyStore/Solved
# 1/Activities/21-Stu_ReadNetFlix
# 1/Activities/21-Stu_ReadNetFlix/Solved
# 1/Activities/22-Stu_Email
# 1/Activities/22-Stu_Email/Solved
# 1/Activities/22-Stu_Email/Solved/output
# 1/Activities/ADVANCED_Stu_Set_Operations
# 1/Activities/ADVANCED_Stu_Set_Operations/Solved
# 1/Activities/ADVANCED_Stu_UUID_Generator
# 1/Activities/ADVANCED_Stu_UUID_Generator/Solved
# 2
# 2/Activities
# 2/Activities/01-Ins_Reading_CSVs
# 2/Activities/01-Ins_Reading_CSVs/Solved
# 2/Activities/02-Stu_Reading_CSVs
# 2/Activities/02-Stu_Reading_CSVs/Solved
# 2/Activities/03-Ins_Columns
# 2/Activities/03-Ins_Columns/Solved
# 2/Activities/04-Ins_Data_Cleaning
# 2/Activities/04-Ins_Data_Cleaning/Solved
# 2/Activities/05-Stu_Data_Cleaning
# 2/Activities/05-Stu_Data_Cleaning/Solved
# 2/Activities/05-Stu_Data_Cleaning/Solved/Challenge
# 2/Activities/05-Stu_Data_Cleaning/Solved/Core
# 2/Activities/06-Ins_Indexing
# 2/Activities/06-Ins_Indexing/Solved
# 2/Activities/07-Stu_Indexing
# 2/Activities/07-Stu_Indexing/Solved
# 2/Activities/08-Ins_Pandas_Visualization
# 2/Activities/08-Ins_Pandas_Visualization/Solved
# 2/Activities/09-Stu_Pandas_Visualization
# 2/Activities/09-Stu_Pandas_Visualization/Images
# 2/Activities/09-Stu_Pandas_Visualization/Solved
# 2/Activities/10-Ins_Returns
# 2/Activities/10-Ins_Returns/Solved
# 2/Activities/11-Stu_Returns
# 2/Activities/11-Stu_Returns/Solved
2/Images
# 3
# 3/Activities
# 3/Activities/01-Ins_Welcome
# 3/Activities/01-Ins_Welcome/Solved
# 3/Activities/02-Ins_Sorting
# 3/Activities/02-Ins_Sorting/Solved
# 3/Activities/03-Stu_Sorting
# 3/Activities/03-Stu_Sorting/Solved
# 3/Activities/05-Ins_Groupby
# 3/Activities/05-Ins_Groupby/Solved
# 3/Activities/06-Stu_Groupby
# 3/Activities/06-Stu_Groupby/Solved
# 3/Activities/08-Ins_Multi_Indexing
# 3/Activities/08-Ins_Multi_Indexing/Solved
# 3/Activities/09-Stu_Multi_Indexing
# 3/Activities/09-Stu_Multi_Indexing/Solved
# 3/Activities/09-Stu_Multi_Indexing/Solved/Challenge
# 3/Activities/09-Stu_Multi_Indexing/Solved/Core
# 3/Activities/12-Ins_Concat_DataFrame
# 3/Activities/12-Ins_Concat_DataFrame/Solved
# 3/Activities/13-Stu_Concat_Dataframes
# 3/Activities/13-Stu_Concat_Dataframes/Solved
# 3/Activities/15-Ins_Std_Dev_Risk
# 3/Activities/15-Ins_Std_Dev_Risk/Solved
# 3/Activities/16-Ins_Sharpe_Ratios
# 3/Activities/16-Ins_Sharpe_Ratios/Solved
# 3/Activities/17-Stu_Risky_Business
3/Activities/17-Stu_Risky_Business/Solved
3/Activities/17-Stu_Risky_Business/Solved/Challenge
3/Activities/17-Stu_Risky_Business/Solved/Core
3/Images
